@model IEnumerable<CadeMeuMedico.Models.Usuarios>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar Novo Usuário", "Adicionar")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.IDUsuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDUsuario }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.IDUsuario })
        </td>
    </tr>
}

</table>
